body {
  background-color: #eaf6f6;
}

h1 {
  color: #66bfbf;
}
h3 {
  color: #66bfbf;
}
hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
footer {
  margin: 40px 0 40px 0;
  background-color: #66bfbf;
  border-style:ridge;
  height: 30px;
  border: none;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
  font-weight: bold;
}
i{
 margin-right: 5px;
}
